.box{
    border: solid black;
    width: 10cm;
}
.index{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    background-color: yellow;
    width: 2cm;
    height: 1cm;
    border: 5% solid black;
    border-top: 0cm;
    border-left: 0cm;
}
p{
    font-size: larger;
}
