#blue {
    color: azure;
    background-color: black;
}
#white {
    background-color: black;
    color: aqua;
}
h2 {
    background-color: purple;
    text-align: center;
    color:whitesmoke
  }
h3 {    
    color: blue;
    background-color: aquamarine;
    text-decoration: underline;
    text-align: right;
}
  
