
#container{
    padding-left: 10cm;
    padding-top:3cm;
    justify-content: center;
   box-shadow:10px 10px 5px cadetblue ;
 
}
   

    
.j{
    background-color: rgb(83, 51, 190);
    height: 1cm;
    width: 60% ;
    padding: 1%;
 
   


}
